# Maintainer: Jonas Strassel <jonas.strassel@manjaro.org>
# Description: Builds multi-arch docker images to be used in ci-environments

name: image_build

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron:  '30 2 * * 0'

env: 
  PLATFORMS: linux/arm64,linux/amd64

jobs:
  release:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
      - name: prepare
        run: |
          echo "DATE=$(date +%Y%m%d)" >>$GITHUB_ENV
      - name: setup-qemu
        uses: docker/setup-qemu-action@e81a89b1732b9c48d79cd809d8d81d79c4647a18 # tag=v2
      - name: setup-buildx
        uses: docker/setup-buildx-action@15c905b16b06416d2086efa066dd8e3a35cc7f98 # v2
      - name: login-docker
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a # tag=v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: build-docker-base
        uses: docker/build-push-action@1104d471370f9806843c095c1db02b5a90c5f8b6 # v3
        with:
          context: .
          build-args: |
            CACHEBUST=${{ env.DATE }}
          platforms: ${{ env.PLATFORMS }}
          file: base.Dockerfile
          push: true
          tags: manjarolinux/base:${{ env.DATE }},manjarolinux/base:latest
          cache-from: type=gha, scope=${{ github.workflow }}
          cache-to: type=gha, scope=${{ github.workflow }}
      - name: build-docker-build
        uses: docker/build-push-action@1104d471370f9806843c095c1db02b5a90c5f8b6 # v3
        with:
          context: .
          build-args: |
            CACHEBUST=${{ env.DATE }}
          platforms: ${{ env.PLATFORMS }}
          file: build.Dockerfile
          push: true
          tags: manjarolinux/build:${{ env.DATE }},manjarolinux/build:latest
          cache-from: type=gha, scope=${{ github.workflow }}
          cache-to: type=gha, scope=${{ github.workflow }}
      - name: qemu-setup
        run: |
          sudo apt-get update
          sudo apt-get install qemu binfmt-support qemu-user-static
          docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
      - name: test-amd64
        run: |
          docker run --rm -t --platform=amd64 manjarolinux/base:latest uname -a
          docker run --rm -t --platform=amd64 manjarolinux/base:latest pacman --noconfirm -S base-devel

          docker run --rm -t --platform=amd64 manjarolinux/build:latest uname -a
          docker run --rm -t --platform=amd64 manjarolinux/build:latest pacman --noconfirm -S python-pip
      - name: test-arm64
        run: |
          docker run --rm -t --platform=arm64 manjarolinux/base:latest uname -a
          docker run --rm -t --platform=arm64 manjarolinux/base:latest pacman --noconfirm -S base-devel

          docker run --rm -t --platform=arm64 manjarolinux/build:latest uname -a
          docker run --rm -t --platform=arm64 manjarolinux/build:latest pacman --noconfirm -S python-pip
